# Environment variables
env.json
.env
.venv/
.vscode/

# Dependencies
node_modules/
__pycache__/
*.pyc

# Logs
*.log
npm-debug.log*

# Capture data
202*-*-*/

# QR Codes
qrcodes/

# OS files
.DS_Store
Thumbs.db
*trades*
202*_*/

# Python packaging artifacts
dekt_gui_app/build/
dekt_gui_app/dist/
dekt_gui_app/*.spec